body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0; 
    background-attachment: fixed;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     align-items: center;
display: flex;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 100px;
   color:solid blue;
   font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 100px;
   height: 60%;
    width: 60%;
    opacity: 50%;
    font-display:;
}